<div class="container">
  <div class="d-flex justify-content-center"><h1>Eat-da-burger</h1></div>
  <div class="d-flex justify-content-center"><img id="burger_pic" src="./assets/img/fast-food.png" width="200px"></div>
  
  <h2>Order a burger</h2>
    <form class="create-form">
    <div class="form-row">
      <div class="col-md-10">
        <div class="form-group">
          <input class="form-control" type="text" id="ca" name="name">
        </div>
      </div>
      <div class="col-md-2"><button class="btn" type="submit">Order burger!</button></div>
    </form>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>New Burgers</h2>
      <div class="card">
        <ul class="list-group list-group-flush">
          {{#each burgers}}
          {{#unless devoured}}
          {{> burgers/burger-block devoured=true}}
          {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <h2>Devoured Burgers</h2>
      <div class="card">
        <ul class="list-group list-group-flush">
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block devoured=false}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="mb-4"></div>