<li class="list-group-item" style="height: 60px;">
	{{burger_name}}
	{{#if devoured}}
		<button class="btn change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">Devour it!</button>
	{{/if}}
</li>
